/*
 * @Author: Sellenite 
 * @Date: 2017-11-08 21:36:24 
 * @Last Modified by: Sellenite
 * @Last Modified time: 2017-11-08 21:41:30
 */

.nav {
    background: #eee;
    height: 30px;
    line-height: 30px;
}

.nav .user {
    float: left;
}

.nav .user.login {
    float: left;
    display: none;
}

.nav .user .link {
    margin-right: 5px;
}

.nav .nav-list {
    float: right;
}

.nav .nav-list .nav-item {
    display: inline-block;
    margin-left: 5px;
}